# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.ipynb_checkpoints/
.pytest_cache/

# Environments
.venv/
venv/
.env

# Editors/OS
.DS_Store
.idea/
.vscode/

# ---- Large / generated data (IGNORE) ----
results/MC_data/
results/MC_data_1e7/

